{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-card.css' | asset_url | stylesheet_tag }}

{% style %}
  :root {
  --color-collection-list-text: {{ section.settings.text_color.red  }}, {{ section.settings.text_color.green  }}, {{ section.settings.text_color.blue  }};
  --color-collection-list-bg: {{ section.settings.bg_color }};
  }
{% endstyle %}

<div class="collection-list-wrapper page-width{% if section.settings.swipe_on_mobile == true %} page-width-desktop{% endif %}{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %}">
  <div class="title-wrapper-with-link{% if section.settings.swipe_on_mobile == true %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %}{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
    <h2 class="collection-list-title h1">{{ section.settings.title | escape }}</h2>

    {%- if section.settings.show_view_all and section.settings.swipe_on_mobile -%}
      <a href="{{ routes.collections_url }}" class="link underlined-link large-up-hide">{{ 'sections.collection_list.view_all' | t }}</a>
    {%- endif -%}
  </div>

  <slider-component class="slider-mobile-gutter">
    <ul class="collection-list grid{% if section.blocks.size < 5 %} grid--{{ section.blocks.size }}-col-tablet{% else %} grid--2-col-tablet grid--4-col-desktop{% endif %}{% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %} collection-list--{{ section.blocks.size }}-items{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} negative-margin--small{% endif %}"
      id="Slider-{{ section.id }}"
      role="list"
    >

      {%- liquid
        assign columns = section.blocks.size
        if columns > 3
          assign columns = 3
        endif
      -%}

      {%- if section.settings.sort_collections == 'title_asc' -%}
        {% assign sort_collections = section.blocks | sort: "title" %}
      {% elsif section.settings.sort_collections == 'title_desc' %}
        {% assign sort_collections = section.blocks | sort: "title" | reverse %}
      {% elsif section.settings.sort_collections == 'date_asc' %}
        {% assign sort_collections = section.blocks | sort: "published_at" | reverse %}
      {% elsif section.settings.sort_collections == 'date_desc' %}
        {% assign sort_collections = section.blocks | sort: "published_at"  %}
      {% elsif section.settings.sort_collections == 'product_count_asc' %}
        {% assign sort_collections = section.blocks | sort: "products_count" %}
      {% elsif section.settings.sort_collections == 'product_count_desc' %}
        {% assign sort_collections = section.blocks | sort: "products_count" | reverse %}
      {% elsif section.settings.sort_collections == 'manual' %}
        {% assign sort_collections = section.blocks %}
      {%- endif -%}

      {%- for block in sort_collections -%}
        <li class="collection-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}" {{ block.shopify_attributes }}>
          <a{% if block.settings.collection != blank and block.settings.collection.all_products_count > 0 %} href="{{ block.settings.collection.url }}"{% else %} role="link" aria-disabled="true"{% endif %}
            class="card animate-arrow link{% if block.settings.collection.featured_image != blank or block.settings.collection.image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %}"
          >
            <div class="card--stretch card-colored">
              {%- if block.settings.image != blank -%}
                {% assign featured_image = block.settings.image %}
              {% elsif block.settings.collection.featured_image != blank %}
                {% assign featured_image = block.settings.collection.featured_image %}
              {%- endif -%}

              {%- if featured_image != blank -%}
                <div>
                  <div class="media{% if section.blocks.size > 1 %} media--{{ section.settings.image_ratio }}{% endif %} media--hover-effect overflow-hidden"
                    {% if section.settings.image_ratio == 'adapt' and section.blocks.size > 1 %}style="padding-bottom: {{ 1 | divided_by: block.settings.collection.featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>

                    <img
                      srcset="{%- if featured_image.width >= 165 -%}{{ featured_image | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if featured_image.width >= 330 -%}{{ featured_image | img_url: '330x' }} 330w,{%- endif -%}
                        {%- if featured_image.width >= 535 -%}{{ featured_image | img_url: '535x' }} 535w,{%- endif -%}
                        {%- if featured_image.width >= 750 -%}{{ featured_image | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if featured_image.width >= 1000 -%}{{ featured_image | img_url: '1000x' }} 1000w,{%- endif -%}
                        {%- if featured_image.width >= 1500 -%}{{ featured_image | img_url: '1500x' }} 1500w,{%- endif -%}
                        {%- if featured_image.width >= 3000 -%}{{ featured_image | img_url: '3000x' }} 3000w,{%- endif -%}
                        {{ featured_image | img_url: 'master' }} {{ featured_image.width }}w"
                      src="{{ featured_image | img_url: '1500x' }}"
                      sizes="
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                      (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                      calc(100vw - 3rem)"
                      alt="{{ block.settings.collection.title | escape }}"
                      height="{{ featured_image.height }}"
                      width="{{ featured_image.width }}"
                      loading="lazy"
                      class="motion-reduce"
                    >
                  </div>
                </div>

                <div class="card__text card-colored card__text-hover">
                  <div class="overlay-card"></div>
                  <div class="collection-list__title collection-list__title--{{ section.settings.text_aligment }}">
                    {%- if block.settings.collection.title != blank -%}
                      {{- block.settings.collection.title | escape -}}
                    {%- else -%}
                      {{ 'onboarding.collection_title' | t }}
                    {%- endif -%}
                  </div>
                </div>
              {%- else -%}
                <div class="overlay-card"></div>
                <div class="card__text-spacing card__text-hover">
                  <h3 class="h1">
                    {%- if block.settings.collection.title != blank -%}
                      {{- block.settings.collection.title | escape -}}
                    {%- else -%}
                      {{ 'onboarding.collection_title' | t }}
                    {%- endif -%}
                  </h3>
                </div>
              {%- endif -%}
            </div>
          </a>
        </li>
      {%- endfor -%}
    </ul>

    {%- if section.settings.swipe_on_mobile -%}
      <div class="slider-buttons no-js-hidden{% if section.blocks.size < 5 %} medium-hide{% endif %}{% if section.blocks.size < 2 %} small-hide{% endif %}">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "shopify-section spaced-section collection-list-section spaced-section--full-width",
  "max_blocks": 15,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Shop by category",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "text_aligment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collection-list.settings.text_aligment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collection-list.settings.text_aligment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.collection-list.settings.text_aligment.label"
    },
    {
      "type": "select",
      "id": "sort_collections",
      "options": [
        {
          "value": "title_asc",
          "label": "t:sections.collection-list.settings.sort_collections.options__1.label"
        },
        {
          "value": "title_desc",
          "label": "t:sections.collection-list.settings.sort_collections.options__2.label"
        },
        {
          "value": "date_asc",
          "label": "t:sections.collection-list.settings.sort_collections.options__3.label"
        },
        {
          "value": "date_desc",
          "label": "t:sections.collection-list.settings.sort_collections.options__4.label"
        },
        {
          "value": "product_count_asc",
          "label": "t:sections.collection-list.settings.sort_collections.options__5.label"
        },
        {
          "value": "product_count_desc",
          "label": "t:sections.collection-list.settings.sort_collections.options__6.label"
        },
        {
          "value": "manual",
          "label": "t:sections.collection-list.settings.sort_collections.options__7.label"
        }
      ],
      "default": "manual",
      "label": "t:sections.collection-list.settings.sort_collections.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.collection-list.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.color_title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.collection-list.settings.bg_color",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.collection-list.settings.text_color",
      "default": "#262626"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.image.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.image.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
