{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% unless section.settings.bg_color == blank or section.settings.bg_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Contact-{{ section.id }} {
      background: {{ section.settings.bg_color }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.text_color == blank or section.settings.text_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Contact-{{ section.id }} .title,
    #Contact-{{ section.id }} .contact__text {
      --color-foreground: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      color:{{ section.settings.text_color }};
    }
  {%- endstyle -%}
{% endunless %}

<div id="Contact-{{ section.id }}" class="contact{% unless section.settings.bg_color == blank %} contact--with-bg{% endunless %} contact--{{ section.settings.layout }}{% if section.settings.text != blank %} contact--has-text{% endif %} section-{{ section.id }}-padding">
  <div class="page-width{% if section.settings.is_full_width == false %}{% if section.settings.layout == 'onecolumn-center'%} page-width--narrow{% endif %}{% else %} contact__full-width{% endif %}">
    <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
  {% if section.settings.layout == 'twocolumns' or section.settings.text != blank  %}
    <div class="contact__grid grid grid--1-col grid--2-col-desktop">
      <div class="grid__item">
        <div class="contact__text">{{ section.settings.text }}</div>
      </div>
      <div class="grid__item">
        {% endif %}

        {%- form 'contact', id: 'ContactForm' -%}
          {%- if form.posted_successfully? -%}
            <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="contact__fields">
            <div class="field">
              <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
              <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
            </div>
            <div class="field field--with-error">
              <input
                      autocomplete="email"
                      type="email"
                      id="ContactForm-email"
                      class="field__input"
                      name="contact[email]"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      aria-required="true"
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                      {% endif %}
                      placeholder="{{ 'templates.contact.form.email' | t }}"
              >
              <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ContactForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                </small>
              {%- endif -%}
            </div>
          </div>
          <div class="field">
            <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
            <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
          </div>
          <div class="field">
            <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ 'templates.contact.form.comment' | t }}"
            >
              {{- form.body -}}
            </textarea>
            <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
          </div>
          <div class="contact__button">
            <button type="submit" class="button">
              {{ 'templates.contact.form.send' | t }}
            </button>
          </div>
        {%- endform -%}

        {% if section.settings.layout == 'twocolumns' %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "onecolumn-center",
          "label": "t:sections.contact-form.settings.layout.options__1.label"
        },
        {
          "value": "onecolumn-left",
          "label": "t:sections.contact-form.settings.layout.options__2.label"
        },
        {
          "value": "twocolumns",
          "label": "t:sections.contact-form.settings.layout.options__3.label"
        }
      ],
      "default": "onecolumn-center",
      "label": "t:sections.contact-form.settings.layout.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Want to get in touch with us?",
      "label": "t:sections.contact-form.settings.headline.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.contact-form.settings.text.label",
      "info": "t:sections.contact-form.settings.text.info"
    },
    {
      "type": "checkbox",
      "id": "is_full_width",
      "default": false,
      "label": "t:sections.contact-form.settings.is_full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.contact-form.settings.color_title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.contact-form.settings.bg_color",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.contact-form.settings.text_color",
      "default": "#262626"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 32
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
