<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% unless section.settings.bg_color == blank or section.settings.bg_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Featured-blog-{{ section.id }} {
      background: {{ section.settings.bg_color }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.card_color == blank or section.settings.card_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Featured-blog-{{ section.id }} .card--card {
      background: {{ section.settings.card_color }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.text_color == blank or section.settings.text_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Featured-blog-{{ section.id }} .title,
    #Featured-blog-{{ section.id }} .blog__subheading,
    #Featured-blog-{{ section.id }} .card__information > *,
    #Featured-blog-{{ section.id }} {
      --color-link: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      --color-foreground: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      color: {{ section.settings.text_color }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.button_bg == blank or section.settings.button_bg contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Featured-blog-{{ section.id }} .button {
      --color-button: {{ section.settings.button_bg.red }}, {{ section.settings.button_bg.green }}, {{ section.settings.button_bg.blue }};
    }

    #Featured-blog-{{ section.id }} .button:after {
      --color-button-text: {{ section.settings.button_bg.red }}, {{ section.settings.button_bg.green }}, {{ section.settings.button_bg.blue }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.button_text == blank or section.settings.button_text contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Featured-blog-{{ section.id }} .button {
      --color-button-text: {{ section.settings.button_text.red }}, {{ section.settings.button_text.green }}, {{ section.settings.button_text.blue }};
    }
  {%- endstyle -%}
{% endunless %}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}

<div id="Featured-blog-{{ section.id }}" class="blog{% if section.settings.heading == blank %} no-heading{% endif %}">
  <div class="page-width page-width-desktop{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding">
    {% if section.settings.subheading != blank %}
      <h2 class="blog__subheading">
        {{ section.settings.subheading | escape }}
      </h2>
    {% endif %}
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper-with-link{% if posts_displayed > 2 %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
      </div>
    {%- endunless -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      <slider-component class="slider-mobile-gutter">
        <ul id="Slider-{{ section.id }}"
            class="blog__posts articles-wrapper contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--2-col-tablet {% if section.settings.columns_desktop == 1 %} grid--full-width{% else %} grid--{{ section.settings.columns_desktop }}-col-desktop{% endif %}{% if section.settings.swipe_on_mobile %} slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %} grid--peek{% endif %}"
            role="list"
        >
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="blog__post grid__item article{% if section.settings.swipe_on_mobile %} slider__slide slider__slide--full-width{% endif %}">
              {% render 'article-card', blog: section.settings.blog, article: article, media_aspect_ratio: 1.66, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author, show_excerpt: true %}
            </li>
          {%- endfor -%}
        </ul>

        {% if section.settings.swipe_on_mobile %}
          <div class="slider__controls large-up-hide{%- unless section.settings.show_view_all -%} slider__controls--center{%- endunless -%}">
            {%- if section.settings.blog != blank and section.settings.show_view_all -%}
              <a href="{{ section.settings.blog.url }}"
                 class="link underlined-link large-up-hide"
              >
                {{ 'sections.featured_blog.view_all' | t }}
              </a>
            {%- endif -%}
            {%- if posts_exceed_limit -%}
              <div class="slider-buttons no-js-hidden{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-arrow' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true">/</span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ section.settings.post_limit }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-arrow' %}</button>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      </slider-component>

      {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
        <div class="blog__view-all center {% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %} btn-view-all">
          <a href="{{ section.settings.blog.url }}" class="blog__button button button--secondary">
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
      {%- endif -%}
    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "default": "Subheading",
      "label": "t:sections.featured-blog.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.swipe_on_mobile_header.content"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-blog.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_colors.section_colors_heading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.all.section_colors.bg_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.section_colors.text_color.label"
    },
    {
      "type": "color",
      "id": "card_color",
      "label": "t:sections.all.section_colors.card_color.label"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "t:sections.all.section_colors.button_bg.label"
    },
    {
      "type": "color",
      "id": "button_text",
      "label": "t:sections.all.section_colors.button_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 32
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
