{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{% javascript %}
  this.imageBannerUnderHeader = document.querySelector(".shopify-section:first-child").querySelector(".banner");
  this.transparentHeader = document.getElementsByClassName("header-wrapper--transparent");

  if (this.transparentHeader.length) {
    this.imageBannerUnderHeader.classList.add("banner--transparent-header");
  }

  this.bigHeader = document.getElementsByClassName("header--top-center") || document.getElementsByClassName("header--top-left");

  if (this.bigHeader.length) {
    this.imageBannerUnderHeader.classList.add("banner--big-header");
  }
{% endjavascript %}

{%- if section.settings.section_height == 'original' and section.settings.image != blank -%}
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media-mob::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    background: {{ section.settings.overlay_color }};
  }
{%- endstyle -%}

{% unless section.settings.bg_color == blank or section.settings.bg_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Banner-{{ section.id }} {
      background: {{ section.settings.bg_color }};
    }

    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}.banner--mobile-bottom .banner__box {
        background: {{ section.settings.bg_color }};
      }
    }
  {%- endstyle -%}
{% else %}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}.banner--boxed .media {
        border-radius: var(--text-boxes-radius);
      }

      #Banner-{{ section.id }}.banner--mobile-bottom.banner--boxed .banner__box {
        padding-left:0;
        padding-right:0;
      }
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.text_color == blank or section.settings.text_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Banner-{{ section.id }} .banner__box {
    --color-foreground: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.button_bg == blank or section.settings.button_bg contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Banner-{{ section.id }} .banner__box {
      --color-button: {{ section.settings.button_bg.red }}, {{ section.settings.button_bg.green }}, {{ section.settings.button_bg.blue }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.button_text == blank or section.settings.button_text contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #Banner-{{ section.id }} .banner__box {
      --color-button-text: {{ section.settings.button_text.red }}, {{ section.settings.button_text.green }}, {{ section.settings.button_text.blue }};
    }
  {%- endstyle -%}
{% endunless %}

{%- capture var_image1 -%}
  <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
        {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | img_url: '550x' }} 550w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
        {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
        {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
       sizes="{% if section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
       src="{{ section.settings.image | img_url: '1500x' }}"
       loading="lazy"
       alt="{{ section.settings.image.alt | escape }}"
       width="{{ section.settings.image.width }}"
       height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
       {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
  >
{%- endcapture -%}

{%- capture var_image2 -%}
    <img srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
        {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
        {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
        {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
        {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
        {%- if section.settings.image_2.width >= 3000 -%}{{ section.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
        {%- if section.settings.image_2.width >= 3840 -%}{{ section.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}
        {{ section.settings.image_2 | img_url: 'master' }} {{ section.settings.image_2.width }}w"
        sizes="{% if section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image_2.alt | escape }}"
        width="{{ section.settings.image_2.width }}"
        height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
        {% if section.settings.image != blank %}class="banner__media-image-half"{% endif %}
      >
{%- endcapture -%}

{%- if section.settings.image_mob != blank -%}
  {%- assign image_mob = section.settings.image_mob -%}
{% elsif section.settings.image != blank %}
  {%- assign image_mob = section.settings.image -%}
{%- endif -%}

{%- capture var_image_mob -%}
    <img srcset="{%- if image_mob.width >= 375 -%}{{ image_mob | img_url: '375x' }} 375w,{%- endif -%}
        {%- if image_mob.width >= 750 -%}{{ image_mob | img_url: '750x' }} 750w,{%- endif -%}
        {%- if image_mob.width >= 1100 -%}{{ image_mob | img_url: '1100x' }} 1100w,{%- endif -%}
        {%- if image_mob.width >= 1500 -%}{{ image_mob | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if image_mob.width >= 1780 -%}{{ image_mob | img_url: '1780x' }} 1780w,{%- endif -%}
        {%- if image_mob.width >= 2000 -%}{{ image_mob | img_url: '2000x' }} 2000w,{%- endif -%}
        {%- if image_mob.width >= 3000 -%}{{ image_mob | img_url: '3000x' }} 3000w,{%- endif -%}
        {%- if image_mob.width >= 3840 -%}{{ image_mob | img_url: '3840x' }} 3840w,{%- endif -%}
        {{ image_mob | img_url: 'master' }} {{ image_mob.width }}w"
        sizes="100vw"
        src="{{ image_mob | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ image_mob.alt | escape }}"
        width="{{ image_mob.width }}"
        height="{{ image_mob.width | divided_by: image_mob.aspect_ratio }}"
  >
{%- endcapture -%}
{% if section.settings.layout == 'boxed' %}<div class="page-width">{% endif %}
<div id="Banner-{{ section.id }}" class="banner
   banner--desktop-transparent
   banner--{{ section.settings.section_height }}
   {% if section.settings.layout == 'boxed' %} banner--boxed{% endif %}
   {% if section.settings.section_height == 'original' and section.settings.image != blank %} banner--adapt{% endif %}
   {% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}">
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {{ var_image1 }}
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
    </div>
  {%- endif -%}

  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}">
      {{ var_image2 }}
    </div>
  {%- endif -%}

  {%- if image_mob != blank -%}
    <div class="banner__media-mob media">
      {{ var_image_mob }}
    </div>
  {%- else  -%}
    <div class="banner__media-mob media placeholder">
      {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}

  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} banner__content--{{ section.settings.mobile_content_position }}-mob page-width">
    <div class="banner__box content-container content-container--full-width-mobile color-background-1">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'subheading' -%}
            <h2 class="banner__subheading" {{ block.shopify_attributes }}>
              <span>{{ block.settings.subheading | escape }}</span>
            </h2>
          {%- when 'heading' -%}
            <h2 class="banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'text' -%}
            <div class="banner__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.text | escape }}</span>
            </div>
          {%- when 'buttons' -%}
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_label_1 != blank -%}
                <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
              {%- endif -%}

            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% if section.settings.layout == 'boxed' %}</div>{% endif %}

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "fullsized",
          "label": "t:sections.image-banner.settings.layout.options__1.label"
        },
        {
          "value": "boxed",
          "label": "t:sections.image-banner.settings.layout.options__2.label"
        }
      ],
      "default": "fullsized",
      "label": "t:sections.image-banner.settings.layout.label"
    },
    {
      "type": "select",
      "id": "section_height",
      "options": [
        {
          "value": "fit-screen",
          "label": "t:sections.image-banner.settings.section_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.section_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.section_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.section_height.options__4.label"
        },
        {
          "value": "original",
          "label": "t:sections.image-banner.settings.section_height.options__5.label"
        }
      ],
      "default": "fit-screen",
      "label": "t:sections.image-banner.settings.section_height.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label",
      "info": "t:sections.image-banner.settings.image.info"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label",
      "info": "t:sections.image-banner.settings.image_2.info"
    },
    {
      "type": "image_picker",
      "id": "image_mob",
      "label": "t:sections.image-banner.settings.image_mob.label",
      "info": "t:sections.image-banner.settings.image_mob.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.desktop_text_box_header_h1.content"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.content_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_colors.section_colors_heading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.all.section_colors.bg_color.label",
      "info": "t:sections.all.section_colors.bg_color.info"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.section_colors.text_color.label"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "t:sections.all.section_colors.button_bg.label"
    },
    {
      "type": "color",
      "id": "button_text",
      "label": "t:sections.all.section_colors.button_text.label"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.all.section_colors.overlay_color.label",
      "default": "#262626"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.image-banner.blocks.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Image with text overlay",
          "label": "t:sections.image-banner.blocks.subheading.settings.subheading.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
