{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'section-logo-list.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% unless section.settings.bg_color == blank %}
  {%- style -%}
    #logo-list-{{ section.id }} {
      background: {{ section.settings.bg_color }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.text_color == blank %}
  {%- style -%}
    #logo-list-{{ section.id }} .logo-list__no-image,
    #logo-list-{{ section.id }} .multicolumn__subheading,
    #logo-list-{{ section.id }} .title,
    #logo-list-{{ section.id }} {
      --color-link: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      --color-foreground: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      color: {{ section.settings.text_color }};
    }
  {%- endstyle -%}
{% endunless %}

<div id="logo-list-{{ section.id }}" class="multicolumn logo-list color-background-1 gradient{% if section.settings.title == blank %} no-heading{% endif %} background-none">
  <div class="page-width section-{{ section.id }}-padding isolate">
    {% if section.settings.subtitle != blank %}
      <h2 class="multicolumn__subheading center">
        {{ section.settings.subtitle | escape }}
      </h2>
    {% endif %}
    {% unless section.settings.title == blank %}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %} center">
        <h2 class="title h1">
          {{ section.settings.title | escape }}
        </h2>
      </div>
    {% endunless %}
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--2-col{% if section.blocks.size <= 4 %}  grid--center grid--4-col-desktop{% elsif section.blocks.size > 6 %} grid--6-col-desktop{% else %} grid--{{ section.blocks.size }}-col-desktop{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %} center" {{ block.shopify_attributes }}>
            <div class="multicolumn-card content-container">
              {%- if block.settings.image != blank -%}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width">
                  {%- if block.settings.link != blank -%}
                    <a href="{{ block.settings.link }}" class="logo-list__link media media--transparent media--adapt" style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;">
                  {% else %}
                    <div class="logo-list__link media media--transparent media--adapt" style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;">
                  {%- endif -%}
                    <img
                      class="multicolumn-card__image"
                      srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                        {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | image_url: width: 550 }}"
                      sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)"
                      alt="{{ block.settings.image.alt }}"
                      height="{{ block.settings.image.height }}"
                      width="{{ block.settings.image.width }}"
                      loading="lazy"
                    >
                    {%- if block.settings.link != blank -%}
                      </a>
                    {% else %}
                      </div>
                    {%- endif -%}
                </div>
              {%- else -%}
                <div class="logo-list__no-image">
                  {%- if block.settings.link != blank -%}
                    <a class="logo-list__link" href="{{ block.settings.link }}">
                  {%- endif -%}
                  Logo {{ forloop.index }}
                  {%- if block.settings.link != blank -%}
                    </a>
                  {%- endif -%}
                </div>
              {% endif %}
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.settings.swipe_on_mobile -%}
        <div class="slider__controls slider__controls--center large-up-hide">
          <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-arrow' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ section.blocks.size }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-arrow' %}</button>
          </div>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.logo_list.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "default": "Subtitle",
      "label": "t:sections.logo_list.settings.subtitle.label"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Headline",
      "label": "t:sections.logo_list.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.logo_list.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_colors.section_colors_heading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.all.section_colors.bg_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.section_colors.text_color.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.logo_list.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.logo_list.blocks.column.settings.image.label",
          "info": "t:sections.logo_list.blocks.column.settings.image.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.logo_list.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo_list.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
