{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'section-video-with-text.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- if section.settings.section_height == 'original' and section.settings.cover_image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #video-with-text-{{ section.id }}::before {
        padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }

      #video-with-text-{{ section.id }}::before,
      #video-with-text-{{ section.id }} .banner__media::before,
      #video-with-text-{{ section.id }} .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #video-with-text-{{ section.id }}::before,
      #video-with-text-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #video-with-text-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    background: {{ section.settings.overlay_color }};
  }
{%- endstyle -%}

{% unless section.settings.text_color == blank or section.settings.text_color contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #video-with-text-{{ section.id }} .banner__content > * {
      --color-foreground: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      color: rgba(var(--color-foreground));
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.button_bg == blank or section.settings.button_bg contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #video-with-text-{{ section.id }} .button {
      --color-button: {{ section.settings.button_bg.red }}, {{ section.settings.button_bg.green }}, {{ section.settings.button_bg.blue }};
    }

    #video-with-text-{{ section.id }} .deferred-media__poster-button {
      background-color:{{ section.settings.button_bg }};
    }
  {%- endstyle -%}
{% endunless %}

{% unless section.settings.button_text == blank or section.settings.button_text contains 'rgba(0,0,0,0)' %}
  {%- style -%}
    #video-with-text-{{ section.id }} .button {
     --color-button-text: {{ section.settings.button_text.red }}, {{ section.settings.button_text.green }}, {{ section.settings.button_text.blue }};
    }

    #video-with-text-{{ section.id }} .deferred-media__poster-button {
      color:{{ section.settings.button_text }};
    }
  {%- endstyle -%}
{% endunless %}

<div class="{% if section.settings.layout == 'boxed' %}page-width {% endif %} section-{{ section.id }}-padding">
  <div id="video-with-text-{{ section.id }}" class="video-with-text banner banner--{{ section.settings.section_height }}{% if section.settings.section_height == 'original' and section.settings.image != blank %} banner--adapt{% endif %} video-section isolate{% if section.settings.layout == 'boxed' %} banner--boxed{% endif %} content-container{% if section.settings.layout == 'full-width' %} content-container--full-width{% endif %}">
    <noscript>
      <div class="video-with-text__media banner__media">
        <a href="{{ section.settings.video_url }}" class="video-section__poster banner__media media media--transparent media--landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}">
          {%- if section.settings.cover_image != blank -%}
            <img srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 550 -%}{{ section.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | image_url: width: 1780 }} 1780w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | image_url: width: 3840 }} 3840w,{%- endif -%}
                {{ section.settings.cover_image | image_url }} {{ section.settings.cover_image.width }}w"
                 sizes="100vw"
                 src="{{ section.settings.cover_image | image_url: width: 1500 }}"
                 loading="lazy"
                 alt="{{ 'sections.video-with-text.load_video' | t: description: section.settings.description | escape }}"
                 width="{{ section.settings.cover_image.width }}"
                 height="{{ section.settings.cover_image.width | divided_by: section.settings.cover_image.aspect_ratio }}"
            >
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <deferred-media class="video-with-text__media banner__media media deferred-media no-js-hidden gradient" data-media-id="{{ section.settings.video_url.id }}{{ section.id }}">
      {%- unless section.settings.autoplay -%}
        <button id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}{{ section.id }}" class="hidden" type="button"></button>
      {%- endunless -%}
      {%- unless section.settings.autoplay -%}
        {%- if section.settings.cover_image != blank -%}
          <img srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 550 -%}{{ section.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | image_url: width: 1780 }} 1780w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | image_url: width: 2000 }} 2000w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | image_url: width: 3840 }} 3840w,{%- endif -%}
                {{ section.settings.cover_image | image_url }} {{ section.settings.cover_image.width }}w"
               sizes="100vw"
               src="{{ section.settings.cover_image | image_url: width: 1500 }}"
               loading="lazy"
               alt="{{ 'sections.video-with-text.load_video' | t: description: section.settings.description | escape }}"
               width="{{ section.settings.cover_image.width }}"
               height="{{ section.settings.cover_image.width | divided_by: section.settings.cover_image.aspect_ratio }}"
          >
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
      {%- endunless -%}
      {%- unless section.settings.autoplay -%}
      <template>
      {%- endunless -%}
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&controls=0&showinfo=0&rel=0&modestbranding=1&autohide=1&iv_load_policy=3&autoplay=1&loop=1&origin={{ request.origin }}&playlist={{ section.settings.video_url.id }}" class="js-youtube" allow="autoplay; loop; modestbranding; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- else -%}
          <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&loop=1&autopause=0" class="js-vimeo" allow="autoplay; modestbranding; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- endif -%}
      {%- unless section.settings.autoplay -%}
      </template>
      {%- endunless -%}
    </deferred-media>
    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} banner__content--{{ section.settings.mobile_content_position }}-mob page-width">
      <div class="banner__box content-container content-container--full-width-mobile">
        {%- unless section.settings.autoplay -%}
          <button
                  class="video-section__poster media deferred-media__poster media--landscape"
                  type="button"
                  onclick="document.getElementById('Deferred-Poster-Modal-{{ section.settings.video_url.id }}{{ section.id }}').click();"
          >
              <span class="deferred-media__poster-button motion-reduce">
                {%- render 'icon-play' -%}
              </span>
          </button>
        {%- endunless -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'subheading' -%}
              <h2 class="banner__subheading" {{ block.shopify_attributes }}>
                <span>{{ block.settings.subheading | escape }}</span>
              </h2>
            {%- when 'heading' -%}
              <h2 class="banner__heading {{ block.settings.heading_size  }}" {{ block.shopify_attributes }}>
                <span>{{ block.settings.heading | escape }}</span>
              </h2>
            {%- when 'text' -%}
              <div class="banner__text" {{ block.shopify_attributes }}>
                <span>{{ block.settings.text | escape }}</span>
              </div>
            {%- when 'buttons' -%}
              <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label_1 != blank -%}
                  <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
                {%- endif -%}

              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video-with-text.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full-width",
          "label": "t:sections.video-with-text.settings.layout.options__1.label"
        },
        {
          "value": "boxed",
          "label": "t:sections.video-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "full-width",
      "label": "t:sections.video-with-text.settings.layout.label"
    },
    {
      "type": "select",
      "id": "section_height",
      "options": [
        {
          "value": "fit-screen",
          "label": "t:sections.video-with-text.settings.section_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.video-with-text.settings.section_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.video-with-text.settings.section_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.video-with-text.settings.section_height.options__4.label"
        },
        {
          "value": "original",
          "label": "t:sections.video-with-text.settings.section_height.options__5.label"
        }
      ],
      "default": "original",
      "label": "t:sections.video-with-text.settings.section_height.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video-with-text.settings.video_url.label",
      "placeholder": "t:sections.video-with-text.settings.video_url.placeholder",
      "info": "t:sections.video-with-text.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video-with-text.settings.description.label",
      "info": "t:sections.video-with-text.settings.description.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video-with-text.settings.cover_image.label",
      "info": "t:sections.video-with-text.settings.cover_image.info"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": false,
      "label": "t:sections.video-with-text.settings.autoplay.label",
      "info": "t:sections.video-with-text.settings.autoplay.info"
    },
    {
      "type": "header",
      "content": "t:sections.video-with-text.settings.desktop_text_box_header_h1.content"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.video-with-text.settings.content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.video-with-text.settings.content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.video-with-text.settings.content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.video-with-text.settings.content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.video-with-text.settings.content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.video-with-text.settings.content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.video-with-text.settings.content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.video-with-text.settings.content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.video-with-text.settings.content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.video-with-text.settings.content_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.video-with-text.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.video-with-text.settings.content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.video-with-text.settings.content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.video-with-text.settings.content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.video-with-text.settings.content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.video-with-text.settings.content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.video-with-text.settings.content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.video-with-text.settings.content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.video-with-text.settings.content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.video-with-text.settings.content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.video-with-text.settings.content_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_colors.section_colors_heading"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.section_colors.text_color.label"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "t:sections.all.section_colors.button_bg.label"
    },
    {
      "type": "color",
      "id": "button_text",
      "label": "t:sections.all.section_colors.button_text.label"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.all.section_colors.overlay_color.label",
      "default": "#262626"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.video-with-text.settings.image_overlay_opacity.label",
      "default": 10
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.video-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Video with text",
          "label": "t:sections.video-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.video-with-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h0",
              "label": "t:sections.video-with-text.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.video-with-text.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.video-with-text.blocks.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Add a tagline",
          "label": "t:sections.video-with-text.blocks.subheading.settings.subheading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.video-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the video.",
          "label": "t:sections.video-with-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.video-with-text.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.video-with-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.video-with-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.video-with-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.video-with-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.video-with-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.video-with-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.video-with-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.video-with-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video-with-text.presets.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
